name: Terraform CI

on:
  pull_request:
    branches: [ main ]
    paths:
      - '**/*.tf'
      - '**/*.tfvars*'
      - '.tflint.hcl'
      - '.github/workflows/terraform-ci.yml'
      - 'README.md'
  push:
    branches: [ main ]
    paths:
      - '**/*.tf'
      - '**/*.tfvars*'
      - '.tflint.hcl'
      - '.github/workflows/terraform-ci.yml'
      - 'README.md'

concurrency:
  group: terraform-ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3

      - name: Cache Terraform providers
        uses: actions/cache@v4
        with:
          path: |
            .terraform
          key: tf-${{ runner.os }}-${{ hashFiles('.terraform.lock.hcl') }}
          restore-keys: |
            tf-${{ runner.os }}-

      - name: Terraform fmt
        run: terraform fmt -check

      - name: Terraform init (no backend)
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate -no-color

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: TFLint init
        run: tflint --init

      - name: TFLint run
        run: tflint -f compact
